[user]
	name = Fabian Hauser
	email = spamYY@fh2.ch
	signingkey = 8A52A140BEBF7D2C
[core]
        packedGitWindowSize = 16m
        packedGitLimit = 64m
[pack]
        windowMemory = 64m
        packSizeLimit = 64m
        thread = 1
        deltaCacheSize = 1m
[color]
	branch = auto
	diff = auto
	status = auto
[push]
	default = simple
[pull]
	rebase = true
